$break-desktop: 768px;

body {
  margin: 0;
}
.dcup-container {
  .dcup-display {
    position: relative;
    height: 150px;
    img {
      position: absolute; left: 50%; bottom: 50%; transform: translateX(-50%) translateY(50%);
    }

    .shape-scaffold {
      height: 100%; width: 100%;
      overflow: hidden;
      display: flex; align-items: flex-end;
      
      &:before, &:after {
        content: '';
        display: inline-block;
        width: 100%; height: 50%;
        background-color: red;
      }
      &:before {
        transform-origin: top right; transform: rotate(-10deg) scaleX(1.5);
      }
      &:after {
        transform-origin: top left; transform: rotate(10deg) scaleX(1.5);
      }
    }
  }

  .dcup-main-text {
    text-transform: uppercase;
    background-image: linear-gradient(135deg, crimson, red 50%, teal 50%, blue);
    color: #fff; text-shadow: 2px 2px 0 #000;

    > * { flex-basis: 100%; padding: 20px 30px; }

    .top-text { text-align: left; }
    .bottom-text { text-align: right; }
  }

  .dcup-half-text {
    display: flex; flex-direction: column; padding: 10px 0;

    @media screen and (min-width: $break-desktop) { flex-direction: row; }
    &.reversed {
      flex-direction: column-reverse;

      @media screen and (min-width: $break-desktop) { flex-direction: row-reverse; }
    }

    > * {
      flex-basis: 100%;

      @media screen and (min-width: $break-desktop) { flex-basis: 50%; }
    }

    .text-container .text-wrapper {
      padding: 20px; flex-basis: 100%;

      @media screen and (min-width: $break-desktop) { padding: 50px; }
    }
    .text-container, .image-container {
      display: flex; flex-direction: row; align-items: center; justify-content: center;
    }

    .image-container img { display: block; }
  }
}
