$break-desktop: 768px;

$dark-orange: #ef8222;
$light-orange: #fbb040;
$dark-blue: #2b3990;
$light-blue: #27aae1;
$dark-green: #096839;
$light-green: #2bb673;

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Open-Sans';
}

h2 { margin-top: 0; }

.dcup-container {
  .dcup-display {
    position: relative;
    height: 300px;
    background-image: url('../images/torre-belem.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;

    img {
      position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); width: 200px; height: 200px;
    }

    .shape-scaffold {
      height: 100%; width: 100%; display: flex;

      > * {
        overflow: hidden; flex-basis: 50%; height: 100%; position: relative;

        &:before {
          content: ''; display: inline-block;
          position: absolute; top: 100%;
          width: 100%; height: 50%;
          background-color: $light-blue;
        }
      }
      .shape-left:before {
        transform-origin: top left; transform: rotate(-15deg) scale(1.5); left: 0;

        @media screen and (min-width: $break-desktop) { transform: rotate(-10deg) scale(1.5); }
      }
      .shape-right:before {
        transform-origin: top right; transform: rotate(15deg) scale(1.5); right: 0;

        @media screen and (min-width: $break-desktop) { transform: rotate(10deg) scale(1.5); }
      }
    }
  }

  .dcup-main-text {
    text-transform: uppercase;
    color: #fff; text-shadow: 2px 2px 0 #000;
    text-align: center;
    background-image: linear-gradient($light-blue, $dark-blue);
    padding: 30px 20px;
  }

  .dcup-half-text {
    display: flex; flex-direction: column; padding: 10px 0;

    @media screen and (min-width: $break-desktop) { flex-direction: row; }

    > * {
      flex-basis: 100%;

      @media screen and (min-width: $break-desktop) { flex-basis: 50%; }
    }

    .text-container .text-wrapper {
      padding: 20px; flex-basis: 100%;

      @media screen and (min-width: $break-desktop) { padding: 50px; }
    }
    .text-container, .image-container {
      display: flex; flex-direction: row; align-items: center; justify-content: center;
    }

    .image-container img { display: block; }
  }
}
